<!DOCTYPE html>
<html lang="en">
<title>Tumultur’s Blog</title>
{{ partial "head" . }}
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/list_style.css">
</head>
<body>
    {{ partial "header" . }}
    <main>
        <div class="module-title all-caps">Articles</div>
        {{ range $.Site.RegularPages.ByWeight }}
        <div class="module-box">
            <span class="module-numbering">{{.Weight}}</span>
            <a href="{{.Permalink}}" class="module-hyperlink">{{.Title | replaceRE "(\\p{Han}) ([a-zA-Z0-9 ]+) (\\p{Han})" "$1 $2 $3" | safeHTML}}</a>
            <div class="description-container">
                <p class="module-description">{{.Params.description}}</p>
            </div>
        </div>
        {{end}}
        <div style="height: 30px;"></div>
        <div class="module-title all-caps">Sites</div>
        <div class="module-box">
            <span class="module-numbering text-figures">
                1
            </span>
            <a href="/snippets" class="module-hyperlink">Snippets</a>
            <span class="module-description">关于各种话题的碎碎念</span>
        </div>
        <div class="module-box">
            <span class="module-numbering text-figures">
                2
            </span>
            <a href="/reading" class="module-hyperlink">Reading List</a>
            <span class="module-description">普通的书单</span>
        </div>
        {{ range sort .Site.Data.links "order" "asc" }}
        <div class="module-box">
            <span class="module-numbering text-figures">
                {{add .order 2}}
            </span>
            <a href="{{.link}}"  class="module-hyperlink" target="_blank">{{.name}}</a>
            <span class="module-description">{{.description}}</span>
        </div>
        {{end}}
        <!-- <div style="height: 30px;"></div>
        <div class="module-title all-caps">Links</div>
        {{ range sort .Site.Data.friends "order" "asc" }}
        <div class="module-box">
            <span class="module-numbering">
                {{.order}}
            </span>
            <a href="{{.link}}"  class="module-hyperlink" target="_blank">{{.name}}</a>
            <span class="module-description">{{.description}}</span>
        </div>
        {{end}} -->
    </main>
</body>
</html>