<!DOCTYPE html>
<html lang="en">
<title>Random Blog</title>
{{ partial "head" . }}
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/list_style.css">
</head>
<body>
    {{ partial "header" . }}
    <main>
        <div class="module-title all-caps">Articles</div>
        {{ range $.Site.RegularPages.ByWeight }}
        <div class="article-module-box">
            <span class="module-numbering">{{.Weight}}</span>
            <a href="{{.Permalink}}" class="article-module-hyperlink">{{.Title | replaceRE "(\\p{Han}) ([a-zA-Z0-9 ]+) (\\p{Han})" "$1 $2 $3" | safeHTML}}</a>
            <p class="module-description">{{.Params.description}}</p>
        </div>
        {{end}}
        <div style="height: 30px;"></div>
        <div class="module-title all-caps">Sites</div>
        <div class="module-box">
            <span class="module-numbering text-figures">
                1
            </span>
            <a href="/snippets" class="module-hyperlink">Snippets</a>
            <span class="module-description">关于各种话题的碎碎念</span>
        </div>
        <div class="module-box">
            <span class="module-numbering text-figures">
                2
            </span>
            <a href="/reading" class="module-hyperlink">Reading List</a>
            <span class="module-description">字体排版书单</span>
        </div>
        <div class="module-box">
            <span class="module-numbering text-figures">
                3
            </span>
            <a href="/about" class="module-hyperlink">About</a>
            <span class="module-description">个人信息</span>
        </div>
        <div class="module-box">
            <span class="module-numbering text-figures">
                4
            </span>
            <a href="/sites" class="module-hyperlink">Useful Sites</a>
            <span class="module-description">有用或有趣的网站</span>
        </div>
    </main>
</body>
</html>