body {
  text-justify: inter-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a{
  text-decoration: none;
  color: #686868;
}

h1{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

h2{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  text-indent: 1em;
  font-style: italic;
}

p{
  /* text-indent: 2em; */
  margin: 0px;
  margin-bottom: 14px;
}

pre {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /* border-left: 2px solid green; */
  padding-left: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.2;
  /* background-color: #f0f0f0; */
}

code {
  white-space : pre-wrap;
  font-family: 'ff-nuvo-mono-web-pro', 'Noto Sans SC';
  /* font-weight: 500; */
  font-size: 18px;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 12px;
}

th {
  font-weight: 400;
  padding: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

tr:first-child td {
  padding-top: 3px;
}

td {
  width: 120px;
  padding: 4px;
}

.post-date{
  text-indent: 0;
  margin-bottom: 14px;
}

.post-title{
  text-indent: 0;
  margin: 0;
}

interpunct {
  margin-left: 5px;
  margin-right: 5px;
}

mojikumi {
  margin-right: -10px;
}

.module-numbering{
  position: absolute;
  width: 20px;
  margin-left: -20px;
}