body {
  text-justify: inter-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a{
  text-decoration: none;
  color: #686868;
}

h1{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

h2{
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-indent: 2em;
  font-style: italic;
}

p{
  /* text-indent: 2em; */
  margin: 0px;
  margin-bottom: 12px;
}

.post-date{
  text-indent: 0;
  margin-bottom: 12px;
}

.post-title{
  text-indent: 0;
  margin: 0;
}

interpunct {
  margin-left: 5px;
  margin-right: 5px;
}

mojikumi {
  margin-right: -10px;
}