body {
  text-justify: inter-word;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a{
  text-decoration: none;
  color: #787878;
}

p{
  /* text-indent: 2em; */
  margin: 0px;
  margin-bottom: 10px;
}

pre {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-left: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.2;
}

code {
  white-space : pre-wrap;
  font-family: 'ff-nuvo-mono-web-pro', 'Noto Sans SC';
  /* font-weight: 500; */
  font-size: 18px;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 12px;
}

th {
  font-weight: 400;
  padding: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}

tr:first-child td {
  padding-top: 3px;
}

td {
  width: 120px;
  padding: 4px;
}

.post-date{
  text-indent: 0;
  margin-bottom: 10px;
}

.post-title{
  text-indent: 0;
  margin: 0;
}