@font-face {
  font-family: "Fullwidth quotes";
  src: local('PingFang SC'), local("Microsoft Yahei");
  unicode-range: U+2018-2019, U+201C-201D;
}

.text-figures {
  font-variant-numeric: oldstyle-nums;
}

.small-caps {
  font-variant-caps: all-small-caps;
  letter-spacing: .02em;
}

.all-caps {
  text-transform: uppercase;
  letter-spacing: .04em;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Fullwidth quotes', 'SF Pro', 'Segoe UI', 'PingFang SC', 'Microsoft Yahei', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

header{
  width: 600px;
  min-width: 50%;
  max-width: 80%;
  margin: auto;
  padding-top: 20px;
}
.title-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-divider{
  height:1px;
  border:none;
  background:black;
  margin-top: 10px;
  margin-bottom: 20px;
}
.header-title{
  font-family: 'Segoe UI';
  color: black;
}
.header-title:hover{
  text-decoration: none;
}
.header-link{
  float: right;
  color: black;
}
.header-link:hover{
  text-decoration: none;
}

main{
  width: 600px;
  min-width: 50%;
  max-width: 80%;
  margin: auto;
}
