<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
    {{ partial "header" . }}
    <main>
        <div class="module-title all-caps">Articles</div>
        {{ range .Pages.ByWeight.Reverse }}
        <div class="module-box">
            <span class="module-numbering">{{ add 1 (sub (len .Site.RegularPages) .Weight)}}</span>
            {{$cjk_spacing_fixed := .Title}}
            <!-- <a href="{{.Permalink}}" class="module-hyperlink">{{.Title | replaceRE "(\\p{Han}) ([a-zA-Z0-9 ]+) (\\p{Han})" "$1 $2 $3" | safeHTML}}</a> -->
            <a href="{{.Permalink}}" class="module-hyperlink">{{$cjk_spacing_fixed}}</a>
            <span class="module-description">{{.Params.description}}</span>
        </div>
        {{end}}
    </main>
</body>
</html>