<!DOCTYPE html>
<html lang="en">
<title>Tumultur’s Blog</title>
{{ partial "head" . }}
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    {{ partial "header" . }}
    <main>
        <div class="module-title all-caps">Articles</div>
        {{ range $.Site.RegularPages.ByWeight }}
        <div class="module-box">
            <span class="module-numbering">{{.Weight}}</span>
            <a href="{{.Permalink}}" class="module-hyperlink">{{.Title | replaceRE "(\\p{Han}) ([a-zA-Z0-9 ]+) (\\p{Han})" "$1 $2 $3" | safeHTML}}</a>
            <span class="module-description">{{.Params.description}}</span>
        </div>
        {{end}}
        <div class="module-title all-caps">Useful Sites</div>
        {{ range sort .Site.Data.links "order" "asc" }}
        <div class="module-box">
            <span class="module-numbering text-figures">
                {{.order}}
            </span>
            <a href="{{.link}}"  class="module-hyperlink" target="_blank">{{.name}}</a>
            <span class="module-description">{{.description}}</span>
        </div>
        {{end}}
    </main>
</body>
</html>