<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/post_style.css">
{{ if eq .Params.cjk true}}
<script src="/js/spacing.js"></script>
<style>
.post-date {
    font-variant-numeric: tabular-nums lining-nums !important;
}
</style>
{{ end }}
</head>
<body>
    {{ partial "header" . }}
    <main>
        <p class="post-title">{{.Title | safeHTML}}</p>
        <p class="post-date text-figures">{{.PublishDate.Format "2006-01-02"}}</p>
        {{ if eq .Params.cjk false}}
        {{$abbr_fixed1 := (.Content | replaceRE "([A-Z]{2,})" "<abbr class=\"small-caps\">$1</abbr>" | safeHTML)}}
        {{$abbr_fixed1}}
        {{ else }}
        {{.Content}}
        {{ end }}
    </main>
</body>
</html>